<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="onRegisterEmployee(registerForm)"   #registerForm="ngForm" >

        <mat-card-content>
          <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" name="name" ngModel>
          </mat-form-field>
          </div>

      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email"  name="email" ngModel>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password"  name="password" ngModel>
        </mat-form-field>
      </div>


      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone No"  name="number" ngModel>
        </mat-form-field>
      </div>


      <div>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Address"  name="address" ngModel></textarea>
        </mat-form-field>
      </div>


      <div>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Photo URL"  name="photo" ngModel></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select  name="role" ngModel>
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      </mat-card-content>

      <button type="submit" mat-stroked-button color="accent" class="btn-block">Register</button>

    </form>
  </mat-card>
