

<mat-grid-list cols="2">
  <mat-grid-tile
  *ngFor="let course of courses" class="video-grid">
  <mat-card  class="video-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{course.c_name}}</mat-card-title>
      <mat-card-subtitle>{{course.c_desp}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://uploads-ssl.webflow.com/5f841209f4e71b2d70034471/6078b650748b8558d46ffb7f_Flutter%20app%20development.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="mat-title">
        Fees : {{course.c_fees}}
      </p>
      <p>
        content : {{course.c_resource}}
      </p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>EDIT</button>
      <button mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>







